# Node modules
node_modules
cert/certificate.pem
cert/private.pem
# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

.idea
